<nav class="navbar">
    <div class="search-container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Here">
    </div>
  
    <div class="nav-right">
      <i class="fa-solid fa-bell"></i>
  
      <div class="user-profile" [class.active]="isDropdownOpen" (click)="toggleDropdown()">
        <img src="assets/images/default-user.png" alt="User Avatar" class="user-avatar">
        <span class="user-name">Upskilling
        <i class="fa-solid fa-chevron-down"></i>  </span>
        <div class="dropdown-menu">
          <a href="#">Profile</a>
          <a href="#">Change Password</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>
</nav>
