.auth-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #007bff;
        }
    }
}
.input-group {
    margin-top: 15px;
}