<div class="auth-box wide">
  <div class="logo">
    <img src="../../assets/images/logo.svg" alt="Your Company Logo">
  </div>
  <div class="auth-form">
    <div class="title">
      <h2>Register</h2>
      <p>Create your account</p>
    </div>
    <form>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-user"></i>
        </span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" class="form-control" placeholder="Enter your Email">
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" class="form-control" placeholder="Create Password">
      </div>
      <div class="auth-links">
        <a href="">Already have an account?</a>
      </div>
      <button class="btn register-btn">Register</button>
    </form>
  </div>
</div>
