.auth-container {
    background-image: url('/assets/images/BG.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }