<div class="d-flex justify-content-center">
<div class="auth-box col-6">
    <div class="text-center">
      <img src="../../assets/images/logo.svg" alt="Your Company Logo">
    </div>
    <div class="auth-form">
      <div>
        <h2>Log In</h2>
        <p>Welcome Back! Please enter your details</p>
      </div>
      <form>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-mobile-screen"></i>
          </span>
          <input type="text" class="form-control" placeholder="Enter your Email">
        </div>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input type="password" class="form-control" placeholder="Password">
          <span class="input-group-text">
            <i class="fa-solid fa-eye-slash"></i>
          </span>
        </div>
        <div class="auth-links">
          <a href="">Register Now?</a>
          <a href="" style="color: green;">Forgot Password?</a>
        </div>
        <button class="btn login-btn">Login</button>
      </form>
    </div>
  </div>
  </div>
  