 
  .custom-image-preview {
    width: 24% !important;
    height: 90% !important;
    display: inline-block;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background: #f9f9f9;
    text-align: center;
  }
  