<div class="d-flex justify-content-center">
    <div class="auth-box col-6">
        <div class="text-center">
          <img src="../../assets/images/logo.svg" alt="Your Company Logo">
        </div>
        <div class="auth-form">
          <div>
            <h2> Verify Account  </h2>
            <p> Please Enter Your Otp  or Check Your Inbox </p>
          </div>
          <form [formGroup]="verifyForm" (ngSubmit)="sendData()">
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-mobile-screen"></i></span>
              <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <span *ngIf="email?.invalid && email?.touched" class="text-danger">
              <small *ngIf="email?.errors?.['required']">Email is required.</small>
              <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
            </span> 

            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <input type="text" class="form-control" placeholder="OTP" formControlName="code">
              </div>
              <span *ngIf="code?.invalid && code?.touched" class="text-danger">
                <small *ngIf="code?.errors?.['required']">otp is required.</small>
              </span>
           
            <button type="submit" class="btn auth-btn" >Send</button>
          </form>
        </div>
      </div>
      </div>
      